@import "tailwindcss";

@font-face {
  font-family: "Aperto"; /* Name you want to use for the font */
  src: url("./Aperto\ Regular.otf") format("opentype"); /* Path to your .otf file */
  font-weight: normal; /* Optional, depending on the font's weights */
  font-style: normal; /* Optional, depending on the font's style */
}

/* Apply the font to your body or specific elements */
body {
  font-family: "Aperto", sans-serif; /* Use the font you defined */
}

/* Animation keyframes */
@keyframes revealH1 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hidden by default */
.reveal-h1 {
  opacity: 0;
  transform: translateY(30px);
}

/* Activated when in view */
.reveal-h1.active {
  animation: revealH1 0.8s ease-out forwards;
}

.menu-card {
  @apply relative w-60 h-72 bg-cover bg-center  overflow-hidden shadow-lg;
}

.menu-card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* Custom dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-card .overlay h3 {
  @apply text-xl font-medium text-white;
}
